@use '../custom' as *;
@use '../components/mixins' as *;


input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
    fill: $primary !important;
    color: $primary !important;
  }

.cardBox .kard {
    
    .numbers {
    font-size: 2.2em;
    color: $primary;
    //text-shadow: 2px 2px rgba($color: $black, $alpha: .3);
    opacity: 0.75;
    }

    .cardName {
        font-size: .8em;
    }

    .iconBx {
        font-size: 3.0em;
    }
}
