{% extends "layout.html" %}

{% block main %}

<div class="container-fluid overflow-auto" style="max-height: 85%;">
  <div class="container-fluid my-3 d-flex justify-content-center">
    <form action="/" method="GET" name="indexForm">
      <input type="date" placeholder="dd-mm-yyyy" value="{{ myDate.strftime('%Y-%m-%d') }}"  onchange="getView()" class="rounded p-2 border border-primary" name="viewDate" id="viewDate" style="font-size: 0.5em; color: var(--bs-primary);">
    </form>
  </div>
  <div class="container-fluid mt-3 py-3">
    <div class="cardBox row position-relative gap-5">
      <div class="kard col-9 col-md-3 m-sm-auto m-md-0 position-relative bg-white p-3 shadow rounded d-flex justify-content-between" style="font-size: 0.6em !important;">
        <div>
          <div class="numbers fw-bold opacity-50">{{ currentHours }}</div>
          <div class="cardName text-muted">Weekly hours</div>
        </div>
        <div class="iconBx text-warning opacity-50">
          <ion-icon name="time-outline"></ion-icon>   
        </div>
      </div>
      <div class="kard col-9 col-md-3 m-sm-auto m-md-0 position-relative bg-white p-3 shadow rounded d-flex justify-content-between" style="font-size: 0.6em !important;">
        <div>
          <div class="numbers fw-bold">{{ "$%.2f"|format(currentnet_earnings) }}</div>
          <div class="cardName text-muted">Marginal earnings</div>
        </div>
        <div class="iconBx text-success opacity-50">
          <ion-icon name="enter-outline"></ion-icon>
        </div>
      </div>
      <div class="mb-sm-5 kard col-9 col-md-3 m-sm-auto m-md-0 position-relative bg-white p-3 shadow rounded d-flex justify-content-between" style="font-size: 0.6em !important;">
        <div>
          <div class="numbers fw-bold">{{ "$%.2f"|format(currentTaxes) }}</div>
          <div class="cardName text-muted">Marginal taxes</div>
        </div>
        <div class="iconBx text-danger opacity-50">
          <ion-icon name="exit-outline"></ion-icon>  
        </div>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}

{% block js %} <script src="static/main.js"></script> {% endblock %}